---
layout: default
---

<div>
{% if page.background %}
<div class="box" style="background-image: url('{{ page.background }}');height: 10em;">
{% else %}
<div class="box" style="height: 10em;">
{% endif %}
  <h1 class="title">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="subtitle">{{ page.subtitle }}</h2>
  {% endif %}
  <p>
    投稿者: <a href="">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a><br>
    投稿日時: {{ page.date | date: '%Y/%m/%d' }}
    タグ: {% for tag in page.tags %}<a class="tag is-info">{{ tag[0] }}</a>{% endfor %}
  </p>
</div>
<br>
<div class="content box">
  {{ content }}
  <hr>
  <div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="{{ site.url }}{{ site.baseurl }}{{ page.path }}" data-lang="ja" data-show-count="false"> </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </div>
  {% if page.authors %}
  <h2>筆者</h2>
  {% endif %}
  {% for author in pege.authors %}
    <div class="box">
      <a href="{{ site.baseurl }}/authors/{{author.name}}.html">
        <p class="title 4">{{ author.name }}</p>
        <p class="subtitle">{{ author.position }}</p>
        <p>{{ author.description }}</p>
      </a>
    </div>
    <hr>
  {% endfor %}
  {% if page.previous.url %}
  <a class="button is-info" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
    &larr; 前の投稿<br>
    {{ page.previous.title | truncatewords: 8 }}...
  </a>
  {% endif %}
  {% if page.next.url %}
  <a class="button is-info is-right" style="text-align: right;" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
    次の投稿 &rarr;<br>
    {{ page.next.title | truncatewords: 8 }}...</a>
  {% endif %}
</div>
